doctype
html
	head
		title #{title} - React Reddit
		meta(charset='utf-8')
		link(rel='stylesheet', href='/styles/main.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
	body
		block content
		script(type="text/javascript" src="../bundle.js")