html {
  width: 100%;
}

body {
  width: calc(100% - 20px);
}

.commentBox {
  margin: 20px;
}

.commentBox .comment {
  padding: 5px 10px 5px 30px;
  width: calc(100% - 40px);
  border: solid 2px #333;
  border-radius: 10px;
  background-color: #fafafa;
  color: #333;
  margin: 5px 0px;
  position: relative;
}

.commentBox .comment.active:before {
  content: "";
  height: calc(100% + 4px);
  border-left: solid 5px darkblue;
  border-right: solid 5px darkblue;
  position: absolute;
  left: 0px;
  top: -2px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.commentBox .comment .header {
  padding: 5px 10px;
  width: calc(100% - 20px);
  text-align: left;
  background-color: #ccc;
  border: solid 1px #333;
  border-radius: 5px;
}

.commentBox .comment .header .commentAuthor {
  display: inline-block;
  font-weight: bold;
  color: darkblue;
}

.commentBox .comment .header .date {
  display: inline-block;
}

.commentBox .comment .header .title {
  font-weight: bold;
  display: inline-block;
}

.commentBox .comment .votes {
  color: #333;
  position: absolute;
  left: 7px;
  top: 0px;
  text-align: center;
}

.commentBox .comment .votes a {
  color: #333;
}

.commentBox .comment .votes a.active {
  color: red;
}

.link {
  color: blue;
  transition: 0.25s all;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  margin-right: 10px;
}

.link:hover {
  text-decoration: underline;
}

.commentForm {
  margin-top: 15px;
}
